@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b0b;
  --fg: #f9fafb;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}

a {
  color: inherit;
  text-decoration: none;
}
